/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 juil. 2019, 18:24:46
    Author     : Virgile
*/

.calendar__table{
    width: 100%;
    height: calc(100vh - 128px);
}
.calendar__table td{
    padding:10px ;
    border:1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}
.calendar__table--6weeks td{
    height: 16.66%;
}

.calendar__weekday{
    font-weight: bold;
    color: #000000;
    font-size: 13pt;
}

calendar__day { font-size : 1.3em}
.calendar__othermonth .calendar__day {
    opacity: 0.3;
}