
 /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Main content */
.main {
  margin-top: 40px; /* Add a top margin to avoid content overlay */
} 

/* BackGround */
body {
    background-image: url(../../images/back.jpg)
}

/* 404 */ 
.error {
    margin-top: 100px;
}