
/* BackGround */
body {
    background-image: url(../images/back.jpg);
    background-repeat: none;
    background-position:  center;
    
}

/* 404 */ 
.error {
    margin-top: 100px;
}


/*Logging*/
.formConnect{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/*Modifs*/
td img{
    width:20px;
    height: 20px;
}